POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ms_dialog
POSTGRES_PORT=5444
DIALOG_PORT=8095
INTERNAL_API_TOKEN=change-me
USER_SERVICE_TIMEOUT_SECONDS=3
DIALOG_TEACHER_ORDERING_V2_ENABLED=false
DIALOG_CANONICAL_STUDENT_TURN_ENABLED=false
